## Copy this file to .env and add the credential information

# Global Properties
TIMEZONE=America/Chicago
PUID=5000
PGID=5000
MEDIA_FOLDER=/mnt/plexmedia

# Credentials
OPENVPN_USER= 
OPENVPN_PASSWORD=
PLEX_CLAIM=
